<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression pack DemoWebShop">
<listeners>
<listener class-name="listeners.TestListeners"></listener>
</listeners>
  <test thread-count="5" name="TricentisWebsite">
    <classes>
      <class name="tricentisTests.TricentisWebsiteCompareProductTests"/>
      <class name="tricentisTests.TricentisWebsiteCartTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
